@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-[#000000] text-white overflow-hidden;
        margin: 0;
        padding: 0;
    }
    #root {
        width: 100vw;
        height: 100vh;
    }
}
